:root {
    --cdi-ink-color:#282D3C;
    --cdi-score-color:#798EA4;
    /* --cdi-score-color:#6B5876; */
    --cdi-secondary-color:#EDF1FE;
    --cdi-percentage-color:#19558F;
    --cdi-category-color:#0F4C81;
    --cdi-background-color:#fafafa;
    --cdi-title-color:#DFE3E6;
    --cdi-title-ink:#282D3C;
    --cdi-border-color:#DFE3E6;
}

body{
    padding:0;
    margin:0;
    color: var(--cdi-ink-color);
    font-family: 'Roboto', sans-serif;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    background:var(--cdi-background-color);
    color:var(--cdi-ink-color);
}

.container{
    padding: 0;
    margin: 0;
    /* #F5F8FA; #33729b; #9f805e; */
    /*    font-family: 'Open Sans', sans-serif;*/
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Questrial', sans-serif; */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}

.agenda{
    display: flex;
    flex-direction: column;
    width:1000px;
    height:100%;
    /* background:pink; */
}

.header{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 20px;
    color: #0F4C81;
    background: white;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px dotted var(--cdi-title-color);
    border-radius: 4px;
}

.streams{
    display: flex;
    flex-direction: row;
}

.time{
    width:120px;
    max-width: 120px;
    display: flex;
    flex-direction: column;   
    color:#0F4C81;
}

.slot{
    font-size: 14px;
    height: 355px;
    min-height: 355px;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.apps{
    width:250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;   
    margin-right:50px;
}

.ops{
    width:250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;   
    margin-right:50px;
}

.lab{
    width:250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;   
    margin-right:28px;
}

.session{
    font-size: 11px;
    border:1px solid var(--cdi-border-color);
    margin-bottom: 30px;
    /* padding:10px; */
    background: white;
    border-radius: 4px;
}

.title{
    border-bottom: 1px solid var(--cdi-border-color);
    padding: 10px;
    font-weight: bold;
    height: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    color: var(--cdi-title-ink);
    background: var(--cdi-title-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 18px;
    font-size: 11px;;
}

.presenter{
    border-bottom: 1px solid var(--cdi-border-color);
    padding:10px;
    height:20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    color:#0F4C81;
    font-weight: bold;
}

.abstract{
    border-bottom: 1px solid var(--cdi-border-color);
    padding:10px;
    height:200px;
    max-height: 200px;
    line-height: 18px;
}

.related{
    padding-left: 10px;
    height: 40px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.docker,
.kubernetes,
.openshift{
    background-color: #CD212A;
    border-color: #CD212A;
    color: #FFFFFF;
}

.relatedthing{
    padding:4px;
    border-radius: 2px;
    margin-right:10px;
    text-transform: lowercase;
    font-size: 12px;
}

.docker{

}

.z{

}

.java{
    background-color:#FA7A35;
    border-color: #FA7A35;
    color:#FFFFFF;
}

.knative,
.serverless{
    background-color:#55C6A9;
    border-color: #55C6A9;
    color:#222;
}

.sessions{

}

.keynote{
    font-size: 12px;
    border: 1px solid #DFE3E6;
    margin-bottom: 30px;
    /* padding: 10px; */
    background: white;
    border-radius: 4px;
    /* height: 200px; */
    width: 850px;
}

.labone{
    font-size: 11px;
    border: 1px solid var(--cdi-border-color);
    margin-bottom: 30px;
    /* padding: 10px; */
    background: white;
    border-radius: 4px;
    height: 738px;
}

.abstractone{
    border-bottom: 1px solid var(--cdi-border-color);
    padding:10px;
    line-height: 18px;
    height:584px;
}

.icp{
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-top: 30px;
    align-items: center;
    color: #6B5876;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.relateditems{
    width:90%;
}

.sessionnumber{
    display: flex;
    justify-self: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    display: flex;
    justify-self: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.tags{
    display: flex;
    flex-direction: row;
}

.sessionlabel{
    font-size: 10px;
    color:var(--cdi-border-color);
    font-weight: normal;
    height:16px;
    margin-top:1px;
    margin-bottom: 5px;
}

.sessionid{
    height: 24px;
}

.count{
    width: 40px;
    border-left: solid 1px var(--cdi-border-color);
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* height:26px; */
}